node_modules
package-lock.json

#### Надо исправить:
# 1. package-lock.json - должен быть в репозитории, чтобы все разработчики проекта работали с одним и тем же набором зависимостей - https://docs.npmjs.com/cli/v7/configuring-npm/package-lock-json

#### Можно добавить:
# 1. Игнорирование логов
# logs
# *.log

# 2. Игнорирование каталога со сборкой проекта
# /dist

# 3. Игнорирование файла содержащий переменные окружения
# .env

# 4. Игнорирование файлов специфичных для IDE
# .idea/
# .vscode/
